@import "../app-variables";

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 900px;
}

.action-set-ignored {
  color: $lp-disabled-item-color
}

.action-unit-invalid {
  color: $lp-invalid-item-color;
}

.action-set-ignored .action-unit-invalid {
  color: $lp-disabled-item-color;
}

.bp3-form-group > .bp3-label {
  min-width: 140px;
}

.bp3-form-group > .bp3-form-content {
  min-width: 300px;
  max-width: 300px;
}
