@import "../../app-variables";

.start-page-container {
  background-color: $lp-details-panel-background;
  display: flex;
  flex-direction: column;
  contain: strict;
  flex: 1;
  overflow: hidden;
  padding: 16px;
}
