@import "~@blueprintjs/core/lib/scss/variables.scss";

$pt-app-background-color: $light-gray5;
//$lp-panel-background: #FAFAFA;
$lp-panel-background: $light-gray5;
$lp-tree-panel-background: #fafafa;
$lp-border-color: #00000033;
$lp-disabled-item-color: #a7b6c2;
$lp-details-panel-background: #ffffff;
$lp-invalid-item-color: $red5;
